<html>
  <head>
    <script type="text/javascript">
      var us = {};
      function getUsers() {
        var xhttp = new XMLHttpRequest();
        let users = [];
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            users = JSON.parse(this.responseText);
            users.forEach(function(user) {
              let userItem = document.createElement("div");
              userItem.innerHTML = "<h3 style='display:inline;margin-right:1em'>" + user.username + "</h3>";
              let addBtn = document.createElement("button");
              addBtn.innerHTML = "Remove";
              addBtn.setAttribute("id",user.username);
              document.querySelector("#container").appendChild(userItem);
              userItem.appendChild(addBtn);
              addBtn.onclick = removeUser;
              us[user.username] = true;
	    });
            getOthers();
          }
          else
            console.log(this.responseText);
        }
        let params = "?scoreboard=test";
        xhttp.open("GET", "/config" + params, true);
        xhttp.send();
      }

      function getOthers() {
        var xhttp = new XMLHttpRequest();
        let users = [];
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            users = JSON.parse(this.responseText);
            users.forEach(function(user) {
              if (us[user.username] !== true) {
                let userItem = document.createElement("div");
                userItem.innerHTML = "<h3 style='display:inline;margin-right:1em'>" + user.username + "</h3>";
                let addBtn = document.createElement("button");
                addBtn.innerHTML = "Add";
                addBtn.setAttribute("id",user.username);
                document.querySelector("#submit").appendChild(userItem);
                userItem.appendChild(addBtn);
                addBtn.onclick = addUser;
              }
          });}
          else
            console.log(this.responseText);
        }
        xhttp.open("GET", "/config", true);
        xhttp.send();
      }

      function addUser(btn) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200)
            location.reload();
          else
            console.log(this.responseText);
          };
        let params = "?scoreboard=test&username=" + btn.target.id;
        xhttp.open("GET", "/addUser" + params, true);
        xhttp.send();
      }

     function removeUser(btn) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200)
            location.reload();
          else
            console.log(this.responseText);
          };
        let params = "?scoreboard=test&username=" + btn.target.id;
        xhttp.open("GET", "/removeUser" + params, true);
        xhttp.send();
     }

    </script>
    <style>
    body{
      font-family: Gothic, sans-serif;
      background-color: #444444;
      color: #E0E69A;
    }
    h1{
      display: inline;
      margin-right: 3em;
    }
    a{
      color: #BDCD00;
      font-size: 1.5em;
    }
    </style>
  </head>

  <body onload="getUsers()">
    <h1>Your Scoreboard</h1><a href="/">Back to your Scoreboard</a>
    <div id="container">
    </div>
    <h1>Users from other Scoreboards</h1>
    <div id="submit">
    </div>
  </body>
</html>

